.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* My columns styles */
.col-color .columns > div:nth-child(even) > div:nth-child(odd) p {
  color: green;
}

.col-color .columns > div:nth-child(even) > div:nth-child(odd),
.col-color .columns > div:nth-child(odd) > div:nth-child(even) {
  background-color: aliceblue;

  & p {
    color: red;
  }
}

.col-color .columns > div:nth-child(even) > div:nth-child(even),
.col-color .columns > div:nth-child(odd) > div:nth-child(odd) {
  background-color: antiquewhite;
}

@media (max-width:899px) {
  .col-color .columns-2-cols > div:nth-child(even) > div:nth-child(odd), 
  .col-color .columns-4-cols > div:nth-child(even) > div:nth-child(odd),
  .col-color .columns-2-cols > div:nth-child(odd) > div:nth-child(odd),
  .col-color .columns-4-cols > div:nth-child(odd) > div:nth-child(odd) {
    background-color: antiquewhite;
  }
  
  .col-color .columns-2-cols > div:nth-child(even) > div:nth-child(even),
  .col-color .columns-4-cols > div:nth-child(even) > div:nth-child(even),
  .col-color .columns-2-cols > div:nth-child(odd) > div:nth-child(even),
  .col-color .columns-4-cols > div:nth-child(odd) > div:nth-child(odd) {
    background-color: aliceblue;
  }
}
